# 🤖 TELEGRAM CONFIGURATION
TELEGRAM_TOKEN=8473161007:AAE1M0i4hO3pYniQ-axPV-77CIQDceII-mo
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID # Run /start on your bot to get this ID

# 🔥 FIREBASE CONFIGURATION (If not using serviceAccountKey.json)
FIREBASE_PROJECT_ID=hicham-y-saif
FIREBASE_CLIENT_EMAIL=YOUR_FIREBASE_CLIENT_EMAIL
FIREBASE_PRIVATE_KEY="YOUR_FIREBASE_PRIVATE_KEY"

# ✉️ GMAIL NOTIFICATION CONFIGURATION
GMAIL_USER=YOUR_EMAIL@gmail.com
GMAIL_APP_PASS=YOUR_GMAIL_16_LETTER_APP_PASSWORD
GMAIL_RECEIVER=YOUR_RECEIVING_EMAIL@gmail.com

# 🔐 AUTOMATION GOOGLE LOGIN CREDENTIALS
GOOGLE_USER=YOUR_GOOGLE_ACCOUNT@gmail.com
GOOGLE_PASS=YOUR_GOOGLE_ACCOUNT_PASSWORD
